{% extends "base.html" %}

{% block title %}
Workout History
{% endblock %}

{% block content %}

    <div class="hb_container center-grid">
        <form action="/">
        <button class="btn" type="submit">Home</button>
        </form>
    </div>

        <div class="title-box">
            <h1>Workout History</h1>
        </div>

{% for workout in history %}

        <div class="workout_card_history center-grid">

            <p>
            Workout {{ workout [0] }} |
                {{ workout[1] }} |
                {{ workout[2] }}
            </p>

            <form action="/history/{{ workout[0] }}">
                <button type ="submit">
                    View Workout
                </button>
            </form>

            <br>

        
            <form action="/delete_workout/{{ workout[0] }}">

                <div class="delete-button">

                    <button type ="submit">
                        Delete Workout
                    </button>
                </div>
            
            </form>
        


        </div>


{% endfor %}

{% endblock %}