.page-container {
display: grid;
justify-items: center;
width: 100%;
}

.center-grid {
    display: grid;
    justify-items: center;
}

.title-box {
    font-weight: 800;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background-color: #2b2b2b;
    color: #89ff7a;
    padding: 15px;
    border: inset;
    text-align: center;
    box-shadow: 0 25px 35px rgba(0,0,0,.55);
    width: 65%;
    margin-bottom: 50px;
}

.subtitle-box {
    font-size: 30px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 15px;
    border: inset;
    text-align: center;
    width: 70%;
    background:
        radial-gradient(
            circle at center,
            #f5f5f5 0%,
            #e8e8e8 60%,
            #cfcfcf 100%
        );
}

.data-card {
    border: inset;
    text-align: center;
    box-shadow: 0 25px 35px rgba(0,0,0,.45);
    background-color: #212121;
    color: whitesmoke;
    border-left: 8px solid #89ff7a;
}

body {
    margin-top: 100px;
    margin-bottom: 400px;
    background:
        radial-gradient(
            circle at center,
            #303030 0%,
            #1e1e1e 50%,
            #111111 100%
        );

}

.btn {
    border-radius: 20px;
    box-shadow: 0 25px 35px rgba(0,0,0,.25);
    font-weight: 700;
}

button {
    width: 500px;
    height: 200px;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    background-color: #2f2f2f;
    color: #9dff8f;
    border: 3px solid #9dff8f;
    border-radius: 20px;
    margin-bottom: 150px;
    box-shadow: 0 25px 35px rgba(0,0,0,.25);
}

.workout_card_history button {
    margin-bottom: 50px;
    height: 100px;
    font-size: 35px;
    font-weight: 700;
    font-style: italic;
    background-color: #2f2f2f;
    border: 3px solid #9dff8f;
    box-shadow: 
        0 0 8px rgba(150,255,150,.20),
        0 0 25px rgba(150,255,150,.08);

    border-radius: 20px;
    color: #9dff8f;
}

.interface-container button {
  margin-top: 75px;
}

.hb_container button {
    box-shadow: 0 25px 35px rgba(0,0,0,.25);
    height: 125px;
    margin-bottom: 50px;
}

.delete-button button {
        border: 3px solid #ff5555;
}

.submit-button {
    margin-bottom: 40px;
    height: 150px;
    background-color: #222;
    border: 2px solid #95ff95;
    color: #95ff95;
}

.button-container {
    margin-top: 100px;
}

.exercise-container {
    margin-top: 25px;
    width: 75%;
    justify-items: center;
}

.exercise-container p {
    font-size: 25px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 90%;
    padding: 25px;
    border: inset;
    text-align: center;
    box-shadow: 0 25px 35px rgba(0,0,0,.45);
    background-color: #212121;
    color: #9dff8f;
    border-radius: 25px;
}

.workout_card {
    text-align: center;
    width: 100%;
    
}

.workout_card_history {
    text-align: center;
    width: 90%;
    border: inset;
}

.workout_card_history p {
    font-size: 30px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: ghostwhite;
    width: 75%;
    padding: 15px;
    border: inset;
}

.interface-container {
    width: 100%;
}

.interface-container h3 {
    font-size: 30px;
    font-weight: 800;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffd3;
    width: 30%;
    padding: 15px;
    border: inset;
    text-align: center;
}

.interface-container p {
    font-size: 20px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    padding: 15px;
    border: inset;
    text-align: center;
    font-style: oblique;
}

.input-container {
    display: grid;
    width: 75%;
    border: 1px solid #666;
    background-color: #1b1b1b;
    margin-top: 30px;
    box-shadow: 
        0 0 8px rgba(150,255,150,.20),
        0 0 25px rgba(150,255,150,.08),
        inset 0 0 15px rgba(255,255,255,.03);
}

.input-container label {
   font-size: 40px;
   color: #95ff95;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.input-container input {
    width: 25%;
    font-size: 30px;
    height: 60px;
    border: 2px solid #4f4f4f;
    background-color: #111;
    color: #95ff95;
    font-weight: 700;
    text-align: center;
}

.input-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.set-log {
    width: 75%;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    background: linear-gradient(
        180deg,
        #1d1d1d,
        #101010
    );
    border: 1px solid #5f5f5f;
    box-shadow:
        inset 0 0 20px rgba(255,255,255,.05),
        0 0 25px rgba(0,0,0,.75);
}

.set-log p {
    background-color: #111;
    border: 2px solid #666;
    border-left: 6px solid #95ff95;
    color: #95ff95;
    font-size: 35px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.logs {
    background-color: #111;
    border: 2px solid #666;
    border-left: 6px solid #95ff95;
    color: #95ff95;
    font-size: 35px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}


.next-exercise-button {
    margin-bottom: 40px;
    height: 150px;
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    background-color: #222;
    border: 3px solid #87fbc0;
    box-shadow: 0 25px 35px rgba(0,0,0,.25);
    border-radius: 20px;
    margin-bottom: 200px;
    color: #95ff95;
}

.workout-sets {
    text-align: center;
    width: 100%;
    justify-items: center;
}

.workout-sets p {
    font-size: 30px;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    padding: 15px;
    border: inset;
    text-align: center;
    box-shadow: 0 25px 35px rgba(0,0,0,.45);
    background-color: #212121;
    color: #89ff7a;
    border-left: 8px solid #89ff7a;
}

