{% extends "base.html" %}

{% block title %}
Workout Details
{% endblock %}

{% block content %}

    <div class="hb_container center-grid">
        <form action="/">
        <button type="submit">Home</button>
        </form>
    </div>


    <div class="workout-sets">
        <h1 class="title-box">Workout {{ workout_id }}</h1>

        {% for exercise in exercises %}

            <h2 class="subtitle-box">{{ exercise[2] }}</h2>

            {% for set in sets %}

                {% if set[2] == exercise[2] %}

                    <p class="data-card">
                        Set {{ set[3] }}:
                        {{ set[4] }} x {{ set[5] }}
                    </p>

                {% endif %}

            {% endfor %}

        {% endfor %}
    </div>

{% endblock %}